__pycache__/
*.py[cod]
*.pyo
*.pyd
*.log
*.mat
.DS_Store

.venv/
venv/
env/
.python-version
.pytest_cache/
.mypy_cache/
.ruff_cache/
.ipynb_checkpoints/

dist/
build/
*.egg-info/

.idea
preprocess
preprocessed
store_model
store_physnet_model
PreprocessedData
PreTrainedModels
runs
temp
facial_region_test.py
interp_test.py
debug_utils.py
multi_test.py
neural_methods/trainer/PhysnetTrainer_backup.py
debug_utils_physnet.py
test.yaml
*.out
